{{- define "mapping" -}}
{{- /*gotype:AutoMapper/generator.Method*/ -}}
func {{.Name}}({{- range $index, $element := .Params -}}{{if ne $index 0}}, {{end}}{{$element.ArgumentName}} %*__*%{{$element.GetTypeName}}%*__*%  {{- end -}}) ({{.Target.ArgumentName}}  %*__*%{{.Target.GetTypeName}}%*__*%  {{if .ErrorHandling}}, err error {{end}}) {
{{- .GenerateMapping getProject}}
    return
}

{{ end -}}